<div class="signup-wrapper">
  <div class="signup-card">

    <h2 class="title text-primary">Create Account</h2>
    <p class="subtitle">Join our platform in seconds</p>

    <form class="row g-3" [formGroup]="registerForm">

      <div class="col-md-6">
        <label>Full Name</label>
        <input type="text" class="form-control" formControlName="name" placeholder="John Doe" />
      </div>

      <div class="col-md-6">
        <label>Username</label>
        <input type="text" class="form-control" formControlName="username" placeholder="johndoe" />
      </div>

      <div class="col-md-6">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="email" placeholder="john@example.com" />
      </div>

      <div class="col-md-6">
        <label>Phone</label>
        <input type="text" class="form-control" formControlName="phone" placeholder="1234567890" />
      </div>

      <div class="col-md-6">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password" placeholder="••••••••" />
      </div>
      <div class="col-md-6">
        <label>Confirm Password</label>
        <input type="password" class="form-control" formControlName="confirmPassword" placeholder="••••••••" />
        <div *ngIf="registerForm.get('confirmPassword')?.errors?.['mismatch']" class="text-danger">
          Passwords do not match.
        </div>
      </div>

      <!-- <div class="col-md-6">
        <label>Profile Image</label>
        <input type="file" class="form-control" formControlName="profileImage" />
      </div> -->

      <div class="col-12">
        <button class="btn signup-btn w-100 mt-3" (click)="onSubmit()">Sign Up</button>
      </div>

      <p class="login-link mt-3">
        Already have an account?
        <a href="/login">Login here</a>
      </p>
    </form>

  </div>
</div>
