<div class="sidebar">
  <div class="menu-title">Menu</div>

  <a routerLink="/dashboard/feed" class="item">
    <span>🏠</span> Home
  </a>

  <a routerLink="/dashboard/posts" class="item">
    <span>🖼</span> My Posts
  </a>

  <a routerLink="/dashboard/explore" class="item">
    <span>🌎</span> Explore
  </a>

  <a routerLink="/dashboard/my-friends" class="item">
    <span>👥</span> Friends
  </a>

  <a routerLink="/dashboard/meeting" class="item">
    <span>🎥</span> Meetings
  </a>

  <a routerLink="/dashboard/chat" class="item">
    <span>💬</span> Chat
  </a>

  <a routerLink="/dashboard/groups" class="item">
    <span>👤</span> Groups
  </a>

  <a routerLink="/dashboard/notifications" class="item">
    <span>🔔</span> Notifications
  </a>

  <a routerLink="/dashboard/profile" class="item">
    <span>🙍‍♂️</span> Profile
  </a>

  <a routerLink="/dashboard/settings" class="item">
    <span>⚙</span> Settings
  </a>

  <a routerLink="/dashboard/logout" class="item logout">
    <span>🚪</span> Logout
  </a>
</div>
