<div class="login-wrapper d-flex justify-content-center align-items-center">
  <div class="login-card p-4">
    <h2 class="text-center mb-4">Login</h2>

    <form [formGroup]="loginForm">
      <div class="mb-3">
        <label class="form-label">Email Address</label>
        <input
          type="email"
          class="form-control"
          placeholder="Enter email"
          formControlName="userName"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          placeholder="Enter password"
          formControlName="password"
          (keypress)="allowOnlyNumber($event)"
        />
      </div>

      <div class="text-center mt-3">
        <a class="register-link" href="/signup">New User? Register Here</a>
      </div>

  
      <button 
        type="button"
        class="btn btn-login mt-3 w-100"
        (click)="loginPage()"
      >
        Login
      </button>
    </form>

  </div>
</div>
